<h2 class="content-subhead">Users Index</h2>

<div class="pure-main">
  <ul class="pure-main-list">
    <% @users.each do |name| %>
      <li class="pure-main-item">
        <a href="/users/<%= name %>" class="pure-main-link"><%= name%></a>
      </li>
    <% end %>
  </ul>
</div>