<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Assortment of Styles</title>

    <link rel="stylesheet" href="//book_view/stylesheets/pure-min.css">
    <link rel="stylesheet" href="//book_view/stylesheets/fonts.css">
    <link rel="stylesheet" href="//book_view/stylesheets/book_viewer.css">
</head>

<body>

  <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
          <span></span>
      </a>

      <div id="main">
        <div class="header">
          <h1>Dynamic Directory of Random Files</h1>
        </div>

        <div class="content">
          <h2 class="content-subhead">Table of Contents</h2>

          <div class="pure-main">
            <ul class="pure-main-list">
              <% @files.each_with_index do |filename, idx| %>
                <li class="pure-main-item">
                  <a href="/file/<%= idx + 1 %>" class="pure-menu-link"><%= filename %></a>
                </li>  
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <script type="text/javascript" src="/javascripts/ui.js"></script>
</body>
</html>
