<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <div id="main">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <p><%= @footer_msg %></p>
    </div>
  </body>
</html>