<h1>Welcome to the game of Twenty One!</h1>

<% if session[:username] %>
  <p><a href="/new/game">Start New Game</a></p>
  <form action="/users/logout" method="post">
    <p>
      Signed in as <%= session[:username] %>.
      <button type="submit">Logout</button>
    </p>
  </form>
<% else %>
  <a href="/users/login">Login</a>
<% end %>


<table>
  <thead>
    <tr>
      <th colspan="12"><h2>Leaderboard:</h2></th>
    </tr>
    <tr>
      <td>
        <th colspan="6"><h4>Player</h4></th>
      </td>
      <td>
        <th colspan="6"><h4>Games Won</h4></th>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |name| %>
    <tr>
      <td colspan="6">
        <p><%= name %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

