<form class="inline" action="/twenty_one/<%= @game_id %>/hit" method="post">
  <button type="submit">Hit</button>
</form>
<form class="inline" action="/twenty_one/<%= @game_id %>/stay" method="post">
  <button type="submit">Stay</button>
</form>