<form action="/<%= @filename %>" method="post">
  <label for="new_file_content">Edit the content of <%= @filename %>:</label>
    <div>
      <textarea name="new_file_content" id="new_file_content" rows="30" cols="100">
        <%= @file_content %>
      </textarea>
    </div>
  <button type="submit">Save Changes</button>
  <a href="/">Cancel</a>
</form>
