<!doctype html>
<html>
  <body>
    <% if session[:msg] %>
      <p><%= session.delete(:msg) %></p>
    <% end %>

    <ul><% @scrubbed_list_of_files.each do |filename| %>
      <li>
        <a href="/<%= filename %>"><%= filename %></a>
        <a href="/<%= filename %>/edit">Edit</a>
      </li>
    <% end %>
    </ul>

  </body>
</html>