<!doctype html>
<html lang="en-US">
  <head>
    <title>File Library</title>
    <link rel="stylesheet" href="/cms.css" type="text/css" />
  </head>
  
  <body>
    <% if session[:msg] %>
      <p class="temp_message"><%= session.delete(:msg) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>